#!/bin/bash
# Runlab configuration file.
# Used by runlab - https://github.com/ahpnils/runlab
# You should copy this file in /etc/runlabrc and modify the default values
# as they will certainly not apply to your setup !

# libvirt_uri is the location of the libvirt hypervisor.
# the default value is "qemu:///system", which connects
# to the local host.
# A remote system can be accessed with the following URI :
# "qemu+ssh://user@hypervisor/system
libvirt_uri="qemu:///system"

# net_list provides the list of libvirt's virtual networks
net_list="
examplenet
"

# dom_list provides the list of libvirt's domains, aka virtual machines
dom_list="
examplevm
"

# vim:ts=2:sw=2
